version: "3.9"

services:

  model-service:

    build: ../model-service

    container_name: model-service

    ports:
      - "8081:8081"

    environment:
      MODEL_SERVICE_PORT: 8081

  app:
    
    build: ../app

    container_name: app

    ports:
      - "8080:8080"

    environment:
      MODEL_SERVICE_PORT: 8080
    
    depends_on: 
      - model-service

