app:
  name: app
  image:
    repository: ghcr.io/doda25-team13/app
    tag: latest
  port: 8080
  service:
    port: 80
    type: ClusterIP

ingress:
  enabled: true
  className: nginx
  name: app-ingress
  hosts:
    stable: app.stable.example.com

model:
  name: model-service
  image:
    repository: ghcr.io/doda25-team13/model-service
    tag: latest
  port: 8081

secret:
  name: app-secret
  smtpUser: "placeholder-user"
  smtpPass: "placeholder-password"

