app:
  name: app
  image:
    repository: ghcr.io/doda25-team13/app
  versions:
    - name: v1
      tag: latest #TODO change to specific version at the end of development
      weight: 90
    - name: v2
      tag: 1.2.0
      weight: 10
  port: 8080
  service:
    port: 80
    type: ClusterIP
  resources:
    requests:
      cpu: "50m"
      memory: "64Mi"
    limits:
      cpu: "200m"
      memory: "256Mi"

ingress:
  enabled: true
  className: nginx
  name: app-ingress
  hosts:
    stable: app.stable.example.com

model:
  name: model-service
  image:
    repository: ghcr.io/doda25-team13/model-service
    tag: latest
  port: 8081
  resources:
    requests:
      cpu: "50m"
      memory: "64Mi"
    limits:
      cpu: "200m"
      memory: "256Mi"

secret:
  name: app-secret
  smtpUser: "placeholder-user"
  smtpPass: "placeholder-password"

kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelector: {}
      ruleSelector: {}
      resources:
        requests:
          cpu: "50m"
          memory: "128Mi"
        limits:
          cpu: "500m"
          memory: "512Mi"
  alertmanager:
    enabled: true
    resources:
      requests:
        cpu: "50m"
        memory: "64Mi"
      limits:
        cpu: "200m"
        memory: "256Mi"


versions:
  app:
    - name: v1
      tag: latest #TODO change to specific version at the end of development
      weight: 90
    - name: v2
      tag: 1.2.0
      weight: 10
  model:
    - name: v1
      tag: latest
    - name: v2
      tag: latest