---
- hosts: all
  become: yes
  tasks:
      # Each task has a different name , for an example the tutorial of W3
      # used tasks to install nginx, we should instead try run the application

    #  Register SSH Keys by looping over files
#    - name: Add Team Member Public Keys
 #     authorized_key:
  #      user: vagrant
   #     state: present
    #    key: "{{ lookup('file', item) }}"
      # Loops over all .pub files in the public_keys/ directory relative to the playbook
     # with_fileglob:
      #  - "../public_keys/*.pub"

    # Step 5
    - name: Disable swap for the running system
      ansible.builtin.shell: swapoff -a
      become: true

    - name: Prevent re-mount on the next boot
      ansible.builtin.lineinfile: 
        path: /etc/fstab
        regexp: '^\s*.*swap.*$'
        state: absent
      become: true    # is this needed here?

    # Step 6
    - name: Load br_netfilter module
      ansible.builtin.modprobe: 
        name: br_netfilter
        state: present
      become: yes
    
    - name: Ensure automated loading for overlay and br_netfilter
      ansible.builtin.copy: 
        dest: /etc/modules-load.d/k8s.conf
        content: | 
          overlay
          br_netfilter
      become: yes
    
    #Step 7
    - name: Enable IPv4 forwarding
      ansible.builtin.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        state: present
        reload: yes
      become: yes
    
    - name: Enable forwarding of bridge connections
      ansible.builtin.sysctl:
        name: "{{ item.name }}"
        value: '1'
        state: present
        reload: yes
      loop:
        - {name: net.bridge.bridge-nf-call-iptables }
        - {name: net.bridge.bridge-nf-call-ip6tables }

    # Step 8
    - name: Manage /etc/hosts
      ansible.builtin.template:
        src: templates/hosts.j2
        dest: /etc/hosts
        owner: root
        group: root
        mode: '0644'
      become: true

    #Step 9
    - name: Add Kubernetes signing key
      ansible.builtin.apt_key:
        url: https://pkgs.k8s.io/core:/stable:/v1.32/deb/Release.key
        state: present
      become: true
    
    - name: Add Kubernetes repository as package source
      ansible.builtin.apt_repository:
        repo: deb https://pkgs.k8s.io/core:/stable:/v1.32/deb/ /
        state: present
        filename: kubernetes
      become: true 

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    #Step 10
    - name: Install containerd and runc
      ansible.builtin.apt:
        name: 
          - containerd  #wont allow me to specify a version, not sure why
          - runc
        state: present
        update_cache: yes
      become: true
    
    - name: Install kubeadm, kubelet, kubectl
      ansible.builtin.apt:
        name:
          - kubeadm #same issue with the version
          - kubelet
          - kubectl
        state: present
        update_cache: yes
      become: true
    
    # Step 11
    - name: Dump default containerd configuration
      ansible.builtin.command: containerd config default
      args: 
        creates: /etc/containerd/config.toml
      register: containerd_default_config
      become: true
    
    - name: Ensure /etc/containerd directory exists
      ansible.builtin.file:
        path: /etc/containerd
        state: directory
        owner: root
        group: root
        mode: '0755'
      become: true
    
    - name: Write to containerd
      ansible.builtin.copy:
        content: "{{ containerd_default_config.stdout }}"
        dest: /etc/containerd/config.toml
        owner: root
        group: root
        mode: '0644'
      become: true
    
    ################DEBUG##########################
    - name: Show current containerd config
      command: cat /etc/containerd/config.toml
      register: containerd_config_before
      become: true

    - name: Print containerd config before changes
      debug:
        msg: "{{ containerd_config_before.stdout }}"
    ################DEBUG##########################

    # - name: Set containerd sandbox_image for Kubernetes
    #   lineinfile:
    #     path: /etc/containerd/config.toml
    #     regexp: '^(\s*)sandbox_image\s*=.*'
    #     line: '    sandbox_image = "registry.k8s.io/pause:3.10"'
    #   become: true

    # - name: Enable systemd_cgroup
    #   lineinfile:
    #     path: /etc/containerd/config.toml
    #     regexp: '^(\s*)SystemdCgroup\s*=.*'
    #     line: '      SystemdCgroup = true'
    #   become: true

    # - name: Disable AppArmor for containerd
    #   lineinfile:
    #     path: /etc/containerd/config.toml
    #     regexp: '^(\s*)disable_apparmor\s*=.*'
    #     line: '    disable_apparmor = true'
    #   become: true

    - name: Disable AppArmor in containerd
      lineinfile:
        path: /etc/containerd/config.toml
        regexp: '^\s*disable_apparmor\s*='
        line: '      disable_apparmor = true'
        insertafter: '^\[plugins."io.containerd.grpc.v1.cri"\]'
        state: present

    - name: Update sandbox image
      lineinfile:
        path: /etc/containerd/config.toml
        regexp: '^\s*sandbox_image\s*='
        line: '      sandbox_image = "registry.k8s.io/pause:3.10"'
        insertafter: '^\[plugins."io.containerd.grpc.v1.cri"\]'
        state: present

    - name: Enable systemd cgroup for runc
      lineinfile:
        path: /etc/containerd/config.toml
        regexp: '^\s*SystemdCgroup\s*='
        line: '        SystemdCgroup = true'
        insertafter: '^\[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options\]'
        state: present

    ################DEBUG##########################
    - name: Show updated containerd config
      command: cat /etc/containerd/config.toml
      register: containerd_config_after
      become: true

    - name: Print containerd config after changes
      debug:
        msg: "{{ containerd_config_after.stdout }}"
    ################DEBUG##########################

    - name: Restart containerd 
      ansible.builtin.service:
        name: containerd
        state: restarted
        enabled: yes
      become: true

    # Step 12
    - name: Start kubelet
      ansible.builtin.service:
        name: kubelet
        state: started
        enabled: yes
      become: true
    
